<h2>Por capital</h2>
<hr>
<div class="row">
  <div class="col">
    <!-- (onSearch)="searchCountries($event)"  -->
    <shared-search-box 
    (onDebounce)="searchCountries($event)"
    [initialValue]="initValue"
    placeholder="Buscar por Capital" ></shared-search-box>
  </div>
</div>

<div class="row">
  <div class="col">
    
    <hr>

    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <countries-country-table [countries]="countries"></countries-country-table>
    
  </div>
</div>